@font-face {
    font-family: 'Harry Potter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Harry Potter Regular'), url('../fonts/HARRY.woff') format('woff');
    }
*{
    margin: 0px;
}
.header{
    background-color: rgb(4, 25, 94);
    height: 5em;
    border: 5px solid rgb(60,127,172);
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: 'Harry Potter Regular';
    
    
}
.card-container{
    
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
   

    
}

.charcard{
    
    width: 250px;
    height: auto;
    background-color: #f1f1f1;
    
    margin: 1.2em .3em;
    /* border: 2px solid brown; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8); 
    
}
.card-img img{
    width: 100%;
    height: auto;
}
.card-img{
    margin-right: 0px;
}
.card-description{
    padding: 3px;
    text-align: center;
    
}
.cardlink{
    text-decoration: none;
}