.home-container img{
    width: 100%;
    position: relative;
    text-align: center;
    

    
}
.navbar{
    position: absolute;
    top: 8px;
    
}
.nav-items {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-items li{
padding: 14px 16px;
    
}

@media screen and (max-width: 300px) {

    .nav-items li{
        padding: 4px 
            
        }
    .nav-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}



